@charset "UTF-8";
//colors
$primary-color: #5A5A5A;
$p-light-color: #7D7D7D;
$p-dark-color: #3E3E3E;
$secondary-color: #F19726;
$bg_color1: #F5F5F5;
$bg_color2: #F7EFE1;
$border_color1: #B09C6A;
$border-color2: #8E634A;
//fonts
@font-face{
  font-family: 'myFont';
  src: url('../logotype.woff') format('woff');
}
.font{
  font-family: 'myFont';
}
body {
  font-family:
  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka,
  "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
