@charset "UTF-8";
@import "_reset.scss";
@import "_colors_fonts.scss";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  max-width: 1280px;
  color: $primary-color;
  margin: 0;
}

/* header */
header {

  .bg-slider{
    display: none;
  }

  .message {
    font-size: 1.2em;
    text-align: center;
    margin-top: 15px;
    color: $p-light-color;
  }

  .gradient {
    background: linear-gradient(#F6F7EE,#FFF);
    padding-top: 0.1px;
    overflow: hidden;
  }

  .logo {
    float: left;
    margin: 1.65em 3.8666% 1em 10%;
  }

  h1 {
    font-size: 2.6em;
    text-align: center;
    margin-top: 30px;
    margin-right: 10%;
    line-height: 0.9em;
    color: $p-light-color;

    span {
      display: block;
      font-size: 10px;
      text-align: center;
    }
  }

  .caption {
    margin-bottom: 10px;

    p {
      display: inline-block;
      height: 26px;
      background: #1C9FC0;
      text-align: center;
      color: #fff;
      font-size: 1.4em;
      line-height: 1.6;

      span {
        display: inline-block;
        width: 98%;
        height: 90%;
        margin-top: 0.125em;
        border: 1px dotted #fff;
      }
    }

    p:first-child {
      width: 51.2%;
      margin-left: 4%;

      span {
        width: 98%;
      }
    }

    p:nth-child(2) {
      width: 39.4666%;
      margin-right: 4%;
    }
  }

  .address {
    width: 92%;
    margin: 0 4% 10px;
    padding: 7px 0 7px 2.6666%;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1.5;
    color: $p-dark-color;

    span {
      display: block;
    }

    span:nth-child(4),
    span:nth-child(6) {
      margin-left: 1em;
    }
  }

  .reservation {
    width: 92%;
    margin: 0 4% 6px;
    padding: 4px 0;
    border-top: 4px solid $border-color2;

    .tel {
      padding: 6px 0 2px;
      border-top: 1px solid $border-color2;
      border-bottom: 1px solid $border-color2;
    }

    p {
      text-align: center;
      line-height: 1.4;
    }

    p:first-child {
      font-size: 1.5em;
      color: $border-color2;
    }

    p:nth-child(2) {
      font-size: 3.2em;
      color: $secondary-color;
      text-shadow:
       1px 1px 1px #fff,
       -1px 1px 0 #fff,
       1px -1px 0 #fff,
       -1px 1px 0 #fff;
    }

    p a {
      display: block;
      font-size: 18px;
      color: $border-color2;
      text-align: center;
      margin-top: 4px;
      padding-top: 8px;
      border-top: 4px solid $border-color2;
      text-shadow: none;
    }
    p a::before{
      content: "\f101";
      font-family: FontAwesome;
    }
  }

  .in_hospital {
    p {
      margin: 0 4%;
    }

    p span {
      display: inline-block;
      width: 48.5%;
      padding: 5px 0;
      margin-bottom: 5px;
      background: $secondary-color;
      border-radius: 5px;
      color: #fff;
      text-align: center;
      font-size: 1.6em;
    }

    p span:first-child {
      margin-right: 5px;
    }
  }

  .picture {
    margin-bottom: 6px;
    position: relative;

    p {
      position: absolute;
      left: 4%;
      bottom: 14.563%;
      z-index: 4;
    }

    p span {
      display: block;
      font-size: 2em;
      line-height: 1.4;
      letter-spacing: 0.15em;
      color: #fff;
      text-shadow: 1px 1px 1px $border-color2, -1px -1px 1px $border-color2, 1px -1px 1px $border-color2, -1px 1px 1px $border-color2;
    }
  }


  .discus img {
    display: block;
    margin: auto auto 6px;
  }

  #ham_menu {
    width: 30px;
    height: 30px;
    background: #B16551;
    border-radius: 5px;
    position: relative;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1;

    span {
      display: block;
      width: 18px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -9px;
      margin-top: -1px;
    }

    span.top {
      transform: translateY(-7px);
    }

    span.bottom {
      transform: translateY(7px);
    }
  }
}
@media (min-width: 768px){
  header {
    height: 100vh;

    .bg-slider {
      display: block;
      width: 100%;
      height: 100vh;
      background-position:center center;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
    }

    .gradient,
    .address,
    .right{
      z-index: 2;
    }

    .slide picture img{
      display: none;
    }

    .clear{
      clear: both;
    }

    .message {
      text-align: left;
      margin-left: 25%;
      overflow: hidden;
    }

    .gradient {
      width: 480px;
      background: none;
      float: left;
    }

    .logo {
      margin: 20px 0 15px 25%;
    }

    h1 {
      font-size: 3.2em;
      margin-right: 0;
      margin-top: 40px;
      span {
        font-size: 12px;
      }
    }

    .caption {
      width: 400px;
      font-size: 12px;
      margin-bottom: 0;
      margin-left: 20%;

      p {
        height: 30px;
        line-height: 1.5;
      }

    }

    .address {
      width: 270px;
      margin: 0;
      margin-left: 70px;
      margin-top: 20px;
      padding-left: 10px;
      background: #fff;
      float: left;
    }

    .right{
      float: left;
      margin-top: 20px;
    }

    .reservation {
      width: 325px;
      .tel{
        padding: 12px 0 8px;
      }
    }

    .in_hospital {

      p{
        margin: 0;
        margin-left: 10px;
        font-size: 12px;
      }

      p span {
        padding: 7px 0;
        width: 160px;
      }
    }

    .picture {

      picture{
        display: none;
      }
      p {
          position: absolute;
          left: 110px;
          top: 0;
          z-index: 4;
        }

        p span {
          font-size: 4.5em;
        }

    }

    .discus img {
      display: block;
      position: absolute;
      bottom: 30px;
      right: 9%;
    }

    #ham_menu {
      display: none;
    }
  }
}
/* mobile_nav */
nav#mobile {
  margin-left: 30px;
  width: 70%;
  padding: 60px 10px 5px;
  background: rgba(239,150,55,.9);
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.25s linear;
  transform: translateX(100%);
  z-index: 2;

  &.on {
    transform: translateX(0);
  }

  #close_button {
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #B16551;
    border-radius: 5px;
    position: relative;
    position: absolute;
    top: 15px;
    right: 15px;

    span {
      display: block;
      width: 18px;
      height: 2px;
      background: #B16551;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -9px;
      margin-top: -1px;
    }

    span:first-child {
      transform: rotate(45deg);
    }

    span:last-child {
      transform: rotate(-45deg);
    }
  }

  #menu {
    .large li {
      width: 99.5%;
      border: 1px solid #fff;
      font-size: 1.8em;
      text-align: center;
      padding: 10px 0;
      margin: auto auto 5px;

      a {
        display: block;
        color: #fff;
      }
    }

    .small ul li {
      display: inline-block;
      width: 49%;
      border: 1px solid #fff;
      font-size: 1.2em;
      text-align: center;
      padding: 8px 0;
      margin: auto auto 5px;

      a {
        display: inline-block;
        color: #fff;
      }
    }

    .small ul li:first-child {
      margin-right: 1px;
    }
  }
}

nav.pc {
  display: none;
}


@media (min-width: 768px){
  nav#mobile{
    display: none;
  }
  nav.pc{
    display: block;
    background: $secondary-color;
    .menu{
      position: relative;
      overflow: hidden;
    }
    .menu ul{
      position: relative;
      left: 50%;
      float: left;
      padding: 15px 0;
    }
    .menu ul li{
      position: relative;
      left: -50%;
      float: left;
    }
    .menu li a{
      display: block;
      font-size: 2em;
      color: #fff;
      padding: 10px 36px;
      border-left: 1px dotted #fff;
      transition: .25s linear;
      &:hover{
        color: $primary-color;
      }
    }
    .menu li:last-child a{
      border-right: 1px dotted #fff;
    }
  }
}
main {
  background: $bg_color1;
  padding-top: 15px;

  .info_wrapper {
    width: 92%;
    height: 300px;
    border: 1px solid #C7BEBE;
    background: #fff;
    color: $p-dark-color;
    text-align: center;
    margin: auto auto 15px;

    & > p {
      width: 100%;
      height: 65px;
      font-size: 2em;
      background: #FFECD9;
      line-height: 1.4;
      letter-spacing: 1px;

      span {
        display: block;
      }

      span:first-child {
        color: #C49B62;
      }
    }

    .info_inner {
      width: 100%;
      background: #fff;

      p {
        font-size: 1.8em;
        line-height: 4;
        letter-spacing: 0.5px;
      }
    }
  }

  .interview img {
    display: block;
    margin: auto auto 15px;
  }

  @media (min-width: 768px){
    padding: 0 150px;
    padding-top: 60px;

    .info_wrapper {
      width: 73%;
      height: 23.5%;
      margin-right: 3%;
      margin-bottom: 95px;
      float: left;
      position: relative;

      & > p {
        width: 22%;
        height: 223px;
        border: 1px solid #C7BEBE;
        margin-top: -1px;
        margin-left: -1px;

        span:first-child {
          margin-top: 70px;
        }
      }

      .info_inner {
        width: 70%;
        display: inline;
        position: absolute;
        top: -5px;
        right: 4%;
        background: none;
        p {
          display: inline;
          width: 78%;
        }
      }
    }

    .interview img {
      margin: 0;
      width: 23.5%;
      float: left;
    }
  }

  section#strong {
    .flex_inner1_2 {
      padding-bottom: 70px;
    }

    h2 {
      margin-bottom: 10px;
    }

    h2 p {
      font-size: 3em;
      text-align: center;
      line-height: 1.2;
      color: $secondary-color;

      span {
        font-size: 1.2em;
        color: #A47D66;
      }
    }

    .box1,
    .box2,
    .box3,
    .box4,
    .box5,
    .box6 {
      width: 92%;
      background: #fff;
      border: 1px solid #CAC2AE;
      margin: auto auto 10px;
      position: relative;
    }

    .strong1,
    .strong2,
    .strong3,
    .strong4,
    .strong5,
    .strong6 {
      width: 100%;
      background: #FBF2D8;

      p {
        display: inline-block;
        padding: 15px 0 15px 10px;
      }

      p:first-child {
        font-family: 'Open Sans', sans-serif;
        font-size: 4.5em;
        color: #A57C66;
        padding-left: 5px;
      }

      p span {
        display: block;
        font-size: 1.6em;
        text-shadow: 1px 1px 0 #fff;
        line-height: 1.4;
        letter-spacing: 1px;
      }
    }

    .explain {
      width: 100%;
      padding: 10px 5px 0;
      background: #fff;
      font-size: 1.4em;
      line-height: 1.4;

      p {
        margin-bottom: 65px;
        letter-spacing: 1px;
      }

      .btn a {
        display: block;
        width: 100px;
        font-size: 14px;
        text-align: right;
        color: #fff;
        padding: 5px 20px 5px 8px;
        background: $secondary-color;
        border: 1px solid rgba(255,255,255,0);
        position: relative;
        position: absolute;
        right: 10px;
        bottom: 10px;
        transition: .25s linear;
      }

      .btn a span {
        font-size: 8px;
        position: absolute;
        top: 7px;
        right: 8px;
      }
    }

    .strong4,
    .strong5,
    .strong6 {
      position: relative;

      p:last-child span {
        font-size: 2em;
        position: absolute;
        top: 24px;
        left: 45px;
      }
    }
  }

  @media (min-width: 768px){
    section#strong {
      .flex_inner1_2 {
        padding-bottom: 90px;
      }

      h2 {
        margin-bottom: 30px;
        text-align: center;
      }

      h2 p {
        display: inline-block;
      }

      .flex_inner1{
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 20px;
      }

      .flex_inner1_2{
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 0;
      }

      .box1,
      .box2,
      .box3,
      .box4,
      .box5,
      .box6 {
        width: 32%;
        height: 390px;
        margin: 0;
      }

      .btn a:hover{
        background: #fff;
        color: $secondary-color;
        border: 1px solid $secondary-color;
      }
    }
  }

  section#substance {
    padding-bottom: 80px;
    background: $bg_color2;

    h2 p {
      font-size: 2.6em;
      color: $secondary-color;
      text-align: center;
      line-height: 1.5;
      letter-spacing: 0.1em;
      padding-top: 30px;
      margin-bottom: 25px;
    }

    h2 p span:first-child {
      font-size: 1.4em;
      font-weight: bold;
      color: #A47D66;
    }

    h2 p span:last-child {
      display: block;
    }

    .flex_wrapper2 {
      overflow: hidden;

      img {
        box-shadow: 0 0 3px #DDCDA0;
      }

      p {
        font-size: 1.6em;
        text-align: center;
        letter-spacing: 1px;
        padding: 10px 0;
      }

      .box2_1,
      .box2_10,
      .box2_2,
      .box2_3,
      .box2_4,
      .box2_5,
      .box2_6,
      .box2_7,
      .box2_8,
      .box2_9 {
        float: left;
        margin-left: 2.6%;
      }
    }
  }

  @media (min-width: 768px){
    section#substance {
      padding: 0 150px;
      padding-bottom: 40px;
      margin-left: -150px;
      margin-right: -150px;

      h2 p {
        font-size: 3em;
        padding-top: 80px;
        margin-bottom: 60px;
      }

      h2 p span:last-child {
        display: inline-block;
        margin-left: -20px;
      }

      .flex_wrapper2 {

        .flex_inner2{
          display: flex;
          justify-content: space-between;
        }

        .flex_inner2_2{
          display: flex;
          justify-content: space-between;
        }

        p:last-child {
          font-size: 2em;
          padding: 10px 0;
          margin-bottom: 35px;
        }

        .box2_1,
        .box2_10,
        .box2_2,
        .box2_3,
        .box2_4,
        .box2_5,
        .box2_6,
        .box2_7,
        .box2_8,
        .box2_9 {
          float: none;
          margin-left: 2.6%;
        }
        .box2_1,.box2_6{
          margin-left: 0;
        }
      }
    }
  }

  section#greeting_wrapper {
    background: #fff;
    padding-bottom: 50px;

    h2 {
      font-size: 2.4em;
      color: $secondary-color;
      letter-spacing: 0.1em;
      margin-left: 5px;
      padding-top: 15px;
    }

    h2::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      margin-top: 7px;
      margin-left: -2px;
      margin-bottom: 10px;
      background: $border_color1;
    }

    .greeting_inner {
      padding: 0 10px;
      margin-bottom: 20px;

      p {
        font-size: 1.5em;
        line-height: 1.8;
        letter-spacing: 0.1px;
      }
    }

    .prof {
      img {
        display: block;
        margin: auto auto 10px;
      }

      p:nth-child(2) {
        font-size: 1.8em;
        text-align: center;
        margin-bottom: 5px;
      }

      p:nth-child(3) {
        font-size: 1.1em;
        text-align: center;
        margin-left: 9em;
        margin-bottom: 10px;
      }

      p:last-child a {
        display: block;
        width: 215px;
        font-size: 1.4em;
        color: #fff;
        padding: 11px 0 11px 7px;
        margin: auto auto 35px;
        background: $secondary-color;
        border: 2px solid #fff;
        border-radius: 5px;
        box-shadow: 1px 1px 1px $p-light-color;
        transition: .25s;

        &::after {
          content: "\f061";
          font-family: FontAwesome;
          font-size: 0.9em;
          margin-left: 3px;
          position: relative;
          top: -1px;
        }
      }
    }

    .belong,
    .career {
      padding: 0 10px;

      h3 {
        font-size: 1.8em;
        color: $p-dark-color;
        margin-left: 5px;
      }

      h3::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        margin-top: 2px;
        margin-left: -2px;
        margin-bottom: 10px;
        background: $border_color2;
      }

      p {
        font-size: 1.3em;
        line-height: 1.8;
        letter-spacing: 0.2px;
      }
    }

    .belong h3 {
      margin-top: 25px;
    }
  }

  @media (min-width: 768px){
    section#greeting_wrapper {
      padding: 0 150px;
      padding-bottom: 55px;
      margin-left: -150px;
      margin-right: -150px;
      overflow: hidden;

      h2 {
        font-size: 3em;
        padding-top: 50px;
      }

      h2::after {
        content: "";
        width: 100%;
      }

      .greeting_inner {
        width: 70%;
        float: left;

        p {
          font-size: 1.6em;
        }
      }

      .prof {
        float: right;
        img {
          margin-top: 50px;
        }

        p:last-child a {
          width: 100%;
          padding-left: 12px;

          &::after {
            margin-left: 5px;
          }

          &:hover{
            background: #fff;
            border-color: $secondary-color;
            color: $secondary-color;
            font-weight: bold;
            box-shadow: none;
          }
        }
      }

      .career{
        margin-top: -12%;
        float: left;
      }

      .belong,
      .career {
        width: 70%;
        clear: both;

        h3{
          font-weight: bold;
        }

        h3::after {
          content: "";
          margin-top: 5px;
        }

        p {
          font-size: 1.5em;
          line-height: 1.8;
          letter-spacing: 0.2px;
        }
      }

      .belong h3 {
        padding-top: 25px;
      }
    }
  }

  section#tour {
    padding: 40px 0 75px;

    .text {
      margin-bottom: 10px;
    }

    .text h2 {
      font-size: 3em;
      color: $secondary-color;
      text-align: center;
      letter-spacing: 0.1em;
      margin-bottom: 15px;
    }

    .text p {
      font-size: 1.6em;
      padding: 0 10px;
      line-height: 2;
      letter-spacing: 0.2px;
    }

    .viewer {
      padding-top: 60%;
      position: relative;
    }

    .viewer iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .tel {
    padding-top: 50px;
    background: #fff;
  }

  @media (min-width: 768px){
    section#tour {
      margin-left: -3em;
      padding-right: 0;
      overflow: hidden;

      .text {
        width: 38%;
        margin: 0;
        float: left;
      }

      .viewer {
        width: 58%;
        padding-top: 40%;
        float: right;
      }

      .viewer iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .tel {
      padding-top: 50px;
      background: #fff;
    }

    @media(min-width: 768px){
      .tel{
        padding: 0 150px;
        margin: 0 -150px;
        background: $bg_color2;
      }
    }
  }

  section#open_hour {
    padding-top: 22.5px;
    padding-bottom: 70px;
    background: #fff;

    .logo2 {
      float: left;
      margin-left: 18.6666%;
      margin-right: 8px;
      margin-bottom: 25px;
    }

    h2 {
      margin-top: 9.5px;
      font-size: 2.1em;

      span {
        display: block;
        font-size: 8px;
        margin-top: 2px;
      }
    }

    .week {
      padding: 0 1.8666%;
      position: relative;

      p.caption span {
        display: inline-block;
        margin-bottom: 5px;
      }

      p.caption span:first-child {
        font-size: 1.6em;
        position: relative;
        left: 0;
      }

      p.caption span:last-child {
        font-size: 1.4em;
        text-align: right;
        position: absolute;
        right: 1.8666%;
      }

      table,
      td,
      th {
        border: 1px solid #894B30;
      }

      table {
        width: 100%;
        font-size: 16px;
        margin: auto auto 10px;
      }

      th {
        background-color: #FEF9F5;
        padding: 10px;
      }

      td {
        vertical-align: middle;
        text-align: center;
        height: 60px;
        width: 40px;
      }

      td:first-child {
        line-height: 1.4;
        padding: 0 15px;
      }

      .triangle {
        font-size: 1.3em;
        font-weight: bold;
        color: #6EBF79;
      }

      .line {
        font-size: 1.3em;
        font-weight: bold;
        color: #FB6D74;
      }

      i {
        font-size: 1.4em;
        font-weight: bold;
        color: $secondary-color;
      }

      .attention {
        margin-left: 7.2%;
        margin-bottom: 35px;

        p:first-child {
          font-size: 1.6em;
          letter-spacing: 1px;
          color: #FB6D74;
          margin-bottom: 7px;
        }

        p:nth-child(2) {
          font-size: 1.6em;
          letter-spacing: 1px;
          margin-bottom: 7px;
        }

        .colon {
          position: relative;
          top: -1px;
        }

        p:last-child,
        p:nth-child(3) {
          font-size: 1.4em;
          letter-spacing: 0.5px;
        }

        p:nth-child(3) {
          margin-bottom: 7px;
        }
      }

      img {
        display: block;
        margin: auto auto 20px;
      }
    }

    .month {
      padding: 0 1.8666%;
      position: relative;

      p.caption span {
        display: inline-block;
        font-size: 1.6em;
        margin-bottom: 5px;
      }

      p.caption span:last-child {
        position: absolute;
        right: 1.8666%;
      }

      table,
      td,
      th {
        border: 1px solid #D6D6D6;
      }

      table {
        width: 100%;
        border-color: #D6D6D6;
        font-size: 16px;
        margin: auto auto 10px;
      }

      th {
        padding: 5px 0;
        background-color: #FBE1CD;
      }

      td {
        vertical-align: top;
        padding-top: 5px;
        padding-left: 5px;
        height: 60px;
        width: 14%;
      }

      td p:nth-child(even) {
        font-size: 11px;
      }

      .off {
        background-color: #FEF8FA;
      }

      .off p {
        color: #FD6C7C;
      }

      .day_off p:first-child,
      .off p:first-child {
        margin-bottom: 5px;
      }

      .day_off p {
        color: #FD6C7C;
      }

      .none {
        background-color: #FFFBF4;
      }

      p span.next a,
      p span.prev a {
        display: inline-block;
        font-size: 1.2em;
        color: #844D10;
        text-decoration: underline;
      }

      p span.prev a::before {
        content: "\f100";
        font-family: FontAwesome;
        padding-right: 1px;
      }

      p span.next a {
        position: absolute;
        right: 1.8666%;

        &::after {
          content: "\f101";
          font-family: FontAwesome;
          padding-left: 1px;
        }
      }
    }
  }

  @media (min-width: 768px){
    section#open_hour {
      padding: 40px 150px;
      margin: 0 -150px;
      overflow: hidden;

      .left{
        width: 42%;
        float: left;
      }

      .logo2 {
        float: left;
        margin-left: 5%;
        margin-bottom: 40px;
      }

      h2 {
        margin-top: 17px;
        font-size: 2.9em;

        span {
          font-size: 12px;
          margin-top: 5px;
          padding-right: 3.5em;
          text-align: center;
        }
      }

      .week {
        padding: 0;

        .caption{
          position: relative;
        }

        p.caption span {
          margin-bottom: 7px;
        }

        p.caption span:first-child {
          font-size: 1.8em;
        }

        p.caption span:last-child {
          right: 0;
          bottom: 0;
        }

        th {
          color: $p-dark-color;
        }

        td {
          vertical-align: middle;
          text-align: center;
          height: 42px;
          width: 42px;
        }

        td:first-child {
          width: 30%;
          padding: 0;
          line-height: 1.4;
          p{
            display: inline-block;
            margin-left: -4px;
          }
          p:last-child{
            margin-left: -.7em;
          }
        }

        .attention {
          margin-left: 0;

          p:first-child {
            font-size: 1.8em;
            font-weight: bold;
            margin-bottom: 10px;
          }

          p:nth-child(2) {
            margin-bottom: 10px;
          }

          p:last-child,
          p:nth-child(3) {
            font-size: 1.5em;
            line-height: 1.2;
          }
        }

        img {
          margin: 0;
        }
      }

      .month {
        width: 51%;
        float: right;
        padding: 0;

        .caption{
          position: relative;
        }

        p.caption span {
          font-size: 2em;
          margin-bottom: 7px;
        }

        p.caption span:last-child {
          font-size: 1.6em;
          font-weight: bold;
          right: 0;
          bottom: 0;
        }

        td {
          height: 65px;
          width: 70px;
          background: #fff;
        }

        p span.next a,
        p span.prev a {
          font-size: 1.4em;
        }

        p span.next a {
          right: 0;
        }
      }
    }
  }

  section#access {
    padding-top: 20px;
    background: $bg_color2;

    .address {
      padding: 0 10px;
      margin-bottom: 10px;

      h2 {
        font-size: 1.8em;
        line-height: 1.2;
        margin-bottom: 10px;
        border-bottom: 3px solid $border_color1;
      }

      p {
        font-size: 1.4em;
        line-height: 1.5;
      }

      .station {
        margin-top: 10px;

        p {
          font-size: 1.4em;
        }

        p span {
          display: block;
          margin-left: 1em;
        }

        p a {
          display: block;
          width: 273px;
          padding: 5px 0;
          margin-top: 10px;
          font-size: 16px;
          text-align: center;
          color: #fff;
          background: $secondary-color;
          border: 2px solid #fff;
          border-radius: 5px;
          box-shadow: 1px 1px 1px $p-light-color;
          transition: .25s;
        }

        p a::after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: 4px;
          position: relative;
          top: -1px;
        }
      }
    }

    .appearance img {
      display: block;
      margin: auto;
      padding-bottom: 30px;
    }

    .map {
      padding-top: 60%;
      position: relative;
    }

    .map iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  @media (min-width: 768px){
    section#access {
      padding: 0 150px;
      padding-top: 30px;
      margin: 0 -150px;

      .address {
        width: 43%;
        padding: 0;
        margin-bottom: 0;
        float: left;

        h2 {
          font-size: 2.4em;
          padding-bottom: 5px;
          margin-bottom: 25px;
        }

        &>p:nth-child(4){
          margin-bottom: 20px;
        }

        .station {

          p:last-child {
            margin-bottom: 50px;
          }

          p span {
            display: inline-block;
            margin-left: 1em;
          }

          p a {
            width: 280px;
            margin-top: 20px;

            &:hover{
              background: #fff;
              border-color: $secondary-color;
              color: $secondary-color;
              font-weight: bold;
              box-shadow: none;
          }
        }
      }
    }

      .map {
        padding-top: 40%;
        margin: 0 -150px;
        margin-top: 15px;
      }
    }
  }
}

footer {
  .footer_nav {
    padding: 10px 15px;
    overflow: hidden;

    ul.main {
      margin-top: 20px;
    }

    ul.main li,
    ul.sub li {
      float: left;
      width: 49%;
      margin-bottom: 5px;
      margin-right: 5px;
    }

    ul.main li:nth-child(even),
    ul.sub li:nth-child(even) {
      margin-right: 0;
    }

    ul.main li a {
      display: block;
      font-size: 1.6em;
      text-align: center;
      letter-spacing: 1px;
      color: $primary-color;
      padding: 7px 0;
      background: #FBEEE6;
      border: 1px solid #EFD9CA;
    }
  }

  ul.sub {
    padding-bottom: 20px;
  }

  ul.sub li a {
    display: block;
    font-size: 1.6em;
    text-align: center;
    letter-spacing: 1px;
    color: $primary-color;
    padding: 7px 0;
    background: #fff;
    border: 1px solid #EFD9CA;
  }

  .about {
    padding: 15px;
    background: $bg_color2;

    p:first-child {
      font-size: 16px;
      margin-bottom: 10px;
    }

    p:last-child {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.5px;
    }
  }

  & > p {
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background: $secondary-color;
  }
}

@media (min-width: 768px){
  footer {
    .footer_nav {
      padding: 10px 150px;
      padding-top: 15px;

      .main_wrapper,
      .sub_wrapper{
        position: relative;
        overflow: hidden;
        margin-bottom: -15px;
      }

      ul.main {
        position: relative;
        left: 50%;
        float: left;
        margin-top: 0;
      }

      ul.main li,
      ul.sub li {
        position: relative;
        left: -50%;
        float: left;
        width: auto;
        margin-bottom: 20px;
      }

      ul.main li{
        margin-right: 35px;
      }

      ul.sub li{
        margin-right: 1.5em;
      }

      ul.main li:nth-child(even){
        margin-right: 35px;
      }

      ul.sub li:nth-child(even) {
        margin-right: 1.5em;
      }

      ul.main li:last-child,
      ul.sub li:last-child{
        margin-right: 0;
      }

      ul.main li a {
        background: none;
        border: none;
      }
    }

    ul.sub {
      position: relative;
      left: 50%;
      float: left;
      padding-bottom: 0;
    }

    ul.sub li a {
      background: none;
      border: none;
      font-size: 15px;
    }

    .about {
      padding: 30px 150px;

      p:first-child {
        font-size: 16px;
        margin-bottom: 20px;
      }

      p:last-child {
        font-size: 14px;
      }
    }
  }
}

#page_top a {
  display: block;
  font-size: 1.6em;
  color: #fff;
  width: 82px;
  padding: 5px 5px 8px;
  background: #5189AB;
  position: fixed;
  right: 0;
  bottom: 32px;
}

@media (min-width: 768px){
  #page_top a{
    display: none;
  }
}

#page_top_pc{
  display: none;
}

@media (min-width: 768px){
  #page_top_pc{
    display: block;
    position: relative;
    position: fixed;
    right: 40px;
    bottom: 50px;
    &:hover::before{
      top: -25px;
    }
    &::before{
      content: "\f062";
      font-family: FontAwesome;
      font-size: 1.5rem;
      color: #807241;
      transition: .25s;
      position: absolute;
      top: 10px;
      left: .83em;
      z-index: -1;
    }
  }
}
